<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
	<label for="olDPass">
	Old Password
	</label>
	<input 
	formControlName="oldPassword"
	class="form-control"
	id="olDPass"
	[class.error-border]="userForm.get('oldPassword')?.invalid && userForm.get('oldPassword')?.touched"
	>
	<div 
	*ngIf="userForm.get('oldPassword')?.invalid && !userForm.get('oldPassword')?.untouched"
	class="alert alert-danger">
	<div *ngIf="userForm.get('oldPassword')?.hasError('required')"> Old password is required</div>
	<div *ngIf="userForm.get('oldPassword')?.hasError('invalidOldPassword')">Invalid Old Password</div>	
	</div>
  </div>
  <div class="form-group">
	<label for="neWPass">
	New Password
	</label>
	<input 
	formControlName="newPassword"
	class="form-control"
	id="neWPass"
	[class.error-border]="userForm.get('newPassword')?.invalid 
	&& userForm.get('newPassword')?.touched"
	(change)="newPassChange()"
	>
	<div 
	*ngIf="userForm.get('newPassword')?.invalid 
	&& !userForm.get('newPassword')?.hasError('mismatch')
	&& !userForm.get('newPassword')?.untouched"
	class="alert alert-danger">
	<div *ngIf="userForm.get('newPassword')?.hasError('required')">
		New password is required
	</div>
	</div>
	
  </div>
  <div class="form-group">
	<label for="confrimPass">
	Confirm Password
	</label>
	<input 
	formControlName="confirmPass"
	class="form-control"
	id="confrimPass"
	[class.error-border]="userForm.get('confirmPass')?.invalid && userForm.get('confirmPass')?.touched"
	(change)="onConfirm()"
	>
	<div 
	*ngIf="userForm.get('confirmPass')?.invalid
	&& userForm.get('confirmPass')?.touched"
	class="alert alert-danger">
	<div *ngIf="userForm.get('confirmPass')?.hasError('required')
	
	">
		You need to confirm password 
	</div>
	
	
	</div>
	<div
	*ngIf="!userForm.get('newPassword')?.hasError('mismatch')
	&& !userForm.get('confirmPass')?.hasError('mismatch')
	&& !userForm.get('confirmPass')?.pending
	&& userForm.get('confirmPass')?.touched 
	&& userForm.get('newPassword')?.touched"
	
	class="alert alert-success"
	>
		Password matches
	</div>

	<div
	class="alert alert-danger"
	*ngIf="userForm.get('newPassword')?.hasError('mismatch') || 
	userForm.get('confirmPass')?.hasError('mismatch')
	">
		Password do not match
	</div>


	
</div>


  
 
  <button class="btn btn-primary">Change Password</button>

</form>
